<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ndlp.socialstudy">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.BATTERY_STATS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.ndlp.socialstudy.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity android:name=".activity.AppLogoFirstPage"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginSystem.LoginActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".LoginSystem.RegisterActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".NavigationDrawer_BottomNavigation.AboutUsActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".NavigationDrawer_BottomNavigation.FeedbackActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".NavigationDrawer_BottomNavigation.FehlerMeldenAcivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".tutorialsheets.TutorialsheetsSlider"
            android:screenOrientation="portrait"/>
        <activity android:name=".NavigationDrawer_BottomNavigation.MainActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Umfragen.UmfrageErstellen.NewUmfrageActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Umfragen.UmfrageErstellen.WortumfragenActivity"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait"/>
        <activity android:name=".GeneralFileFolder.PDFViewerActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".NavigationDrawer_BottomNavigation.MyAccount"
            android:screenOrientation="portrait"/>
        <activity android:name=".NavigationDrawer_BottomNavigation.ChangePasswordActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".NavigationDrawer_BottomNavigation.SettingsActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".GeneralFileFolder.ImageUpload"
            android:screenOrientation="portrait">

        </activity>
    </application>

</manifest>